# Edamame notebook example

In [7]:
import pandas as pd 
#from edamame import eda 
import edamame as eda
import numpy as np 
# eda version
eda.__version__

'0.22'

In [8]:
# dataset
data = pd.read_csv('/Users/marcosalvalaggio/code/python/ds/data/melb_data/melb_data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

### Dimensions

In [9]:
eda.dimensions(data)

Rows: 13580, Columns: 21

### Describe distribution

In [10]:
eda.describe_distribution(data)

### Quantitative columns

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

### Categorical columns

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname
count,13580,13580,13580,13580,13580,13580,12211,13580
unique,314,13378,3,5,268,58,33,8
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan
freq,359,3,9449,9022,1565,473,1163,4695

### Column types

* num_col = list with columns interpreted as quantitative/numerical by pandas
*  cat_col = list with columns interpreted as categorical ("object") by pandas

In [11]:
num_col, cat_col = eda.identify_types(data)
print(num_col)
print(cat_col)

|               | variable type   |
|:--------------|:----------------|
| Suburb        | object          |
| Address       | object          |
| Rooms         | int64           |
| Type          | object          |
| Price         | float64         |
| Method        | object          |
| SellerG       | object          |
| Date          | object          |
| Distance      | float64         |
| Postcode      | float64         |
| Bedroom2      | float64         |
| Bathroom      | float64         |
| Car           | float64         |
| Landsize      | float64         |
| BuildingArea  | float64         |
| YearBuilt     | float64         |
| CouncilArea   | object          |
| Lattitude     | float64         |
| Longtitude    | float64         |
| Regionname    | object          |
| Propertycount | float64         |

['Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude', 'Propertycount']
['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date', 'CouncilArea', 'Regionname']

### Missing

In [12]:
eda.missing(data)

### INFO table

|   Row |   Col |   Rows without NaN |   Quantitative variables |   Categorical variables |
|------:|------:|-------------------:|-------------------------:|------------------------:|
| 13580 |    21 |               6196 |                       13 |                       8 |

### Check blank, null or empty values

| columns      |         % |
|:-------------|----------:|
| Car          |  0.456554 |
| BuildingArea | 47.4963   |
| YearBuilt    | 39.5803   |
| CouncilArea  | 10.081    |

### Check zeros

| columns      |          % |
|:-------------|-----------:|
| Distance     |  0.0441826 |
| Bedroom2     |  0.11782   |
| Bathroom     |  0.250368  |
| Car          |  7.55523   |
| Landsize     | 14.2784    |
| BuildingArea |  0.125184  |

### Check duplicates rows

|   % |
|----:|
|   0 |

### SUMMARY table

[['Car', 'BuildingArea', 'YearBuilt'],
 ['CouncilArea'],
 ['Distance', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea']]