# Edamame notebook example

In [1]:
import pandas as pd 
#from edamame import eda 
import edamame as eda
import numpy as np 
from catboost.datasets import titanic
# eda version
eda.__version__

'0.21'

In [2]:
# dataset
train_df, test_df = titanic()

### Dimensions

In [3]:
eda.dimensions(train_df)

Rows: 891, Columns: 12

### Describe distribution

In [4]:
eda.describe_distribution(train_df)

### Quantitative columns

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### Categorical columns

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

### Column types

* num_col = list with columns interpreted as quantitative/numerical by pandas
*  cat_col = list with columns interpreted as categorical ("object") by pandas

In [5]:
num_col, cat_col = eda.identify_types(train_df)
print(num_col)
print(cat_col)

|             | variable type   |
|:------------|:----------------|
| PassengerId | int64           |
| Survived    | int64           |
| Pclass      | int64           |
| Name        | object          |
| Sex         | object          |
| Age         | float64         |
| SibSp       | int64           |
| Parch       | int64           |
| Ticket      | object          |
| Fare        | float64         |
| Cabin       | object          |
| Embarked    | object          |

['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [6]:
eda.missing(train_df)

### INFO table

|   Row |   Col |   Rows without NaN |   Quantitative variables |   Categorical variables |
|------:|------:|-------------------:|-------------------------:|------------------------:|
|   891 |    12 |                183 |                        7 |                       5 |

### Check blank, null or empty values

| columns   |         % |
|:----------|----------:|
| Age       | 19.8653   |
| Cabin     | 77.1044   |
| Embarked  |  0.224467 |

### Check zeros

| columns   |       % |
|:----------|--------:|
| Survived  | 61.6162 |
| SibSp     | 68.2379 |
| Parch     | 76.0943 |
| Fare      |  1.6835 |

### Check duplicates rows

|   % |
|----:|
|   0 |

### SUMMARY table

[['Age'], ['Cabin', 'Embarked'], ['Survived', 'SibSp', 'Parch', 'Fare']]